@import url("https://fonts.googleapis.com/css?family=Open+Sans")
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans'
}

a{
  text-decoration: none;
}

div#header {
  width: 100%;
  height: 50px;
  background-color: #8e44ad;
  margin:0 auto;
}

table{
padding: 15px;
  width:auto;
  table-layout: fixed;
  float: left;
}

.tbl-header{
  background-color: white;
 }
 
 .tbl-content{
  float: left;
  height: auto;
  margin-top: 0px;
}

th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: black;
    border: solid 1px black;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: black;

  border: solid 1px black;
}

.title{
  overflow:hidden;
}

.title img {
  float: left;
  left: 5px;
  width: 37px;
  height: auto;
}

.title a {
    position: relative;
   top: 12px;
  left: 5px;
  font-size: 1.4em;
  color: #fff;
}

aside {
    border-top: 30px solid #551a8b;
	padding: 20px 20;
	background: white;
	color: black;
	float: right;
	margin: 15 1.5%;
    width: 45%;
}

div#table_container{
	width:100%;
	margin:5%;
}

div#container {
   width: 100%;
  margin: auto;
  background-color:#b5b9bf;
}

.sidebar{
  width: 250px;
  height:100vh;
  background-color: #171717;
  float: left;
    margin: auto;

}

.content{
  width: auto;
  height:100vh;
  margin-left: 250px; 
  background-color: #626566;
  padding: 15px;


}

.content p{
  color: #424242
    font-size: 0.73em;
}

div#box{
  margin-top:15px;
  float:left;
  width: 45%;
}

div#box .box-top{
  color:#fff;
  text-shadow: 0px 0px 1px #ddd;
  background-color: #8e44ad;
   padding: 5px;
}

div#box .box-panel{
  padding: 15px;
  background-color: #fff;
  

}

ul#nav {
margin: 0;
padding: 0;
}

ul#nav li{
  list-style: none;

}

h1#OrgName{
    font-size:2em;
    padding: 10px;
    color: #ccc;
  border-bottom: 1px solid #0A0A0A;
    text-align: center;


}

ul#nav li a{
  color: #ccc;
  display: block;
  padding: 10px;
  font-size:1.3em;
  border-bottom: 1px solid #0A0A0A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

ul#nav li a:hover {
  background-color: #030303;
  color:#fff;
  padding-left: 30px;
}


ul#nav li a.selected{
  background-color: #030303;
  color:#fff;
}

a.mobile {
  display: block;
  color: #fff;
  background-color: #000;
  text-align:center;
  padding: 7px;
}

a.mobile:active{
  background-color: #4a4a4a;
}

@media only screen and (max-width:320px){
  .sidebar{
    width=100%;
    display: none;
  }
  
  .content{
    margin-left: 0px;
  }
}


@media only screen and (min-width:320px){
  a.mobile{
    display: none;
  }
}